html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif; /* 글자수 설정 */
    display: flex;/* Flexbox 레이아웃을 사용하도록 설정 */
    flex-direction: column; /* 세로로 설정 */
}

.container {
    
    display: flex;
    flex-direction: column;
}

.topDiv {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 2%; 
    padding-bottom: 5%;
    background-image: url('https://dhnews.co.kr/news/data/20221214/p1065579666649791_771_thum.jpg'); /* 여기에 사용하려는 이미지의 경로를 넣어주세요 */
    background-size: cover;  /* 배경이미지를 꽉차게  설정 */
    background-position: center;
    
}

.profile {
    width: 300px;
    height: 300px;
    margin: auto;
    background-image: url('logo.png');
    background-repeat: no-repeat;  /* 이미지를 반복하지 않게 설정 */
    background-size: cover;
}
.middlePictureDiv {
    width: 1200px;
    height: 600px;
    background-image: url('https://i.namu.wiki/i/8dGsCBfEbo_raXvMheBc4kmblgSDXJatOG9z04qin1Urp7bH7tDY2UhO0vx2I6B2udXJGj8EEmSFxVVI3N3Vxw.webp'); /* 여기에 사용하려는 이미지의 경로를 넣어주세요 */
    background-size: cover;
    background-position: center; 
     
    text-align: center;
    color: white;

}
.middleDiv {
    align-items: center; 
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding-left: 5%;
    padding-top: 3%;
    
}

h1 {
    margin-bottom: 30px;
}



.BottomDiv {
    margin-top: 20px;
    padding-left: 5%;
}

p {
    margin: 10px 0;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;   /* 밑줄이 나오게됨*/
}
